main {
  min-height: 100vh;
  > div {
    grid-template-rows: auto 1fr;
    section:first-child {
      height: 27rem;
      background-image: linear-gradient(to top, #312cea, #6743ff);
      div.rounded-full {
        display: grid;
        place-content: center;
        width: 165px;
        height: 165px;
        background-image: linear-gradient(#4a23cc, #442de0 50%, transparent);
      }
      p {
        width: 19rem;
      }
    }
  }

  .test {
    color: blue;
  }
}

//?========================================================== MD
@media (min-width: 768px) {
  main {
    display: grid;
    place-items: center;

    > div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 41rem;
      section:first-child {
        height: auto;
        div.rounded-full {
          width: 175px;
          height: 175px;
        }

        p {
          width: 13rem;
        }
      }
    }
  }
}

//?========================================================== LG
@media (min-width: 1024px) {
}

//?========================================================== XL

@media (min-width: 1280px) {
}
