@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Hanken Grotesk", serif !important;
  letter-spacing: 0px;
}

.result-bar {
  img {
    width: 25px;
    @media (min-width: 768px) {
      width: 17px;
    }
  }
}
